{{ extends 'global/Page.html' }}
{{ block title }}Правила игры{{ endblock }}

{{ block content }}

{{ if show_others_score }}
    {{ if show_others_score_as_interval }}
         <p>
            <b>Изменение в правилах:</b>
        </p>
        <p>
            На каждом шаге, вы будете в каком промежутке находится количество денег других игроков:
        </p>
        <ul>
            <li>[0; 25)</li>
            <li>[25; 50)</li>
            <li>[50; 75)</li>
            <li>[75; 100)</li>
        </ul>
    {{ else }}
        <p>
            <b>Изменение в правилах:</b>
        </p>
        <p>
            На каждом шаге, вы будете видеть количество денег других игроков.
        </p>
       
    {{ endif }}

    <p>
        Классические правила игры:
    </p>  
{{ else }}
  
{{ endif }}



<ul>
  <li>В каждой группе <b>4</b> игрока. </li>
  <li>Изначально у каждого случайное целое количество денег, равномерно распределенное на отрезке от <b>1 до 100</b>. 
</li>
  <li>Каждому игроку известно собственное количество денег, но неизвестно количество денег у других участников.</li>
  <li>Торгуются <b>3</b> единицы товара ценностями <b>100, 200 и 400</b>. </li>
  <li>Ставки делаются в закрытую, одновременно на каждый из трех товаров.</li>
  <li>Товар получает игрок с максимальной ставкой, при равенстве — случайно. </li>
  <li><b>Деньги тратятся у всех</b>, а не только у победителя. </li>
  <li><b>Выигрыш игрока = остаток на счете + ценность купленных товаров.</b> </li>
  <li>Игра играется несколько раундов, четверки случайно меняются.</li>
</ul>

{{ formfields }}

{{ next_button }}

{{ endblock }}
